.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian/plugins/obsidian-git
.quartz-cache
private/
.replit
replit.nix

.obsidian/workspace.json
/.obsidian/workspace.json
/.obsidian/plugins/initiative-tracker/data.json